html, body {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	color: #333;
	background-color: rgb(43, 43, 43);
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	box-sizing: border-box;
	border-radius: 2px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

/* Dynamically added to the song that is playing
Svelte was throwing an error since it was unused so I put it here */
.isPlaying {
    text-decoration: underline;
}

.selected {
	background-color: rgb(0, 0, 41);
}


/* Resizable table */
table th {
	position: relative;
}
.resizer {
	/* Displayed at the right side of column */
	position: absolute;
	top: 0;
	right: 0;
	width: 5px;
	cursor: col-resize;
	user-select: none;
}

.resizer:hover, .resizing {
	border-right: 2px solid blue;
}

/* song stylings */
tr {
	color: white;
	font-size: 0.75em;
}