body {
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#control-bar {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

#range-container {
    width: 88vw;
    padding-right: 2vw;
    background-color: green;
}

#range {
    width: 100%;
}

#control-button-group {
    width: 10vw;
    background-color: khaki;
}

#play-button-container {
    height: 100%;
}

#play-button {
    width: 100%;
    height: 100%;
}


#playlist {
    width: 100vw;
}

/* Has to be in a div to support FF */
/* th div { 
    resize: horizontal; 
    overflow: auto;
}
 */
/* thead {
    font-weight: bold;
}

thead, tbody { 
    display: block; 
} */

tbody {
    overflow-y: auto;
    max-height: 90vh;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Chrome, Safari and Opera */
tbody::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 600px) {
    #control-bar {
        flex-direction: column-reverse;
    }
    #range-container {
        width: 98vw;
    }
    #control-button-group {
        width: 100%;
    }
}